@page
@model WebApplication1.Pages.Books.IndexModel
@{
    ViewData["Title"] = "Список книг";
}

<h1>Список книг</h1>

<p>
    <a asp-page="Create" class="btn btn-primary">Добавить новую книгу</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Название</th>
            <th>Автор</th>
            <th>Жанр</th>
            <th>Статус</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model.BookList)
        {
            <tr>
                <td>@book.Title</td>
                <td>@book.Author</td>
                <td>@book.Genre</td>
                <td>@(book.IsAvailable ? "Доступна" : "Выдана")</td>
                <td>
                    <a asp-page="./Details" asp-route-id="@book.Id">Детали</a>
                </td>
            </tr>
        }
    </tbody>
</table>
